@charset "UTF-8";
/* Ajustes generales */
* {
  color: #1E2335;
  margin: 0;
  padding: 0; }

body {
  background-color: #F0ECDC; }

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif; }

h1, h2 {
  font-weight: 700; }

p, b, i, li, a, span {
  font-family: 'Lora', serif;
  font-size: 1.1em;
  background: none; }

a {
  text-decoration: none;
  color: #F44945; }
  a:hover {
    color: #332f2e; }

.boton1 {
  font-family: 'Roboto', sans-serif;
  background-color: #F44945;
  border: #F44945 2px solid;
  color: #F0ECDC;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 20px;
  transition-duration: 0.6s;
  width: fit-content; }
  .boton1:hover {
    background-color: transparent;
    color: #F44945; }

.boton2 {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: 2px solid #F44945;
  color: #F44945;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 15px 20px;
  transition: 0.6s;
  width: fit-content; }
  .boton2:hover {
    color: #F44945;
    transition: 0.6s;
    border: 2px solid #1E2335; }

.boton3 {
  border: none;
  color: #F44945;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 0;
  padding: 0; }

.divisor {
  background-color: #F44945;
  width: 10rem;
  height: 3px; }

/* Barra de navegación */
.navbar {
  background-color: #1E2335;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%; }
  .navbar .container-fluid {
    padding: 0; }

.navbar-collapse {
  justify-content: space-between !important; }

.navbar-menu {
  border: none; }

.navbar-menu__links {
  padding: 0 50px; }

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: #F0ECDC;
  padding: 10px 0; }
  .nav-link:hover {
    color: #F44945; }

.navbar-idioma {
  display: flex;
  justify-content: center; }

.navbar-idioma-es {
  color: #F44945;
  margin: 0 10px; }

.navbar-idioma-switch {
  position: relative;
  width: 50px; }
  .navbar-idioma-switch::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #1E2335;
    border-radius: 25px; }
  .navbar-idioma-switch::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #1E2335;
    box-sizing: border-box; }
  .navbar-idioma-switch:checked::after {
    left: 25px;
    border: 2px solid #F44945; }
  .navbar-idioma-switch:checked::before {
    background-color: #F44945; }

.navbar-idioma-en {
  color: #332f2e;
  margin: 0 10px; }

/* Fin barra de navegación */
/* Footer */
footer {
  align-content: center;
  background-color: #1E2335;
  display: flex;
  flex-flow: column;
  padding: 30px 150px;
  text-align: center; }
  footer h4 {
    color: #fff; }
  footer div {
    padding: 15px; }
  footer a {
    margin: 0 15px; }

/* Fin footer */
/* Fin ajustes generales */
/* Header */
.header {
  align-items: center;
  background-color: #1E2335;
  display: flex;
  height: 40rem;
  padding: 100px 150px 0 150px; }
  .header h1 {
    font-size: 3em; }

.header h1, .header span {
  color: #F0ECDC; }

.header-box {
  width: 45%; }

.header-box-btn {
  margin: 50px 0; }

.bajada {
  font-size: 1.5em; }

.header-img {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 55%;
  height: 75%;
  border: 5px #F44945 dashed; }
  .header-img img {
    display: flex;
    align-self: flex-end;
    height: auto;
    width: 100%;
    margin: 0 0 -50px 0; }

/* Fin Header */
/* Quien soy */
.quiensoy {
  justify-content: center;
  padding: 100px 150px;
  text-align: center; }
  .quiensoy p {
    font-size: 1.5em;
    text-align: justify; }

.seccion-titulo {
  display: flex;
  flex-flow: column;
  text-align: left; }
  .seccion-titulo span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px; }

.quiensoy-btn {
  display: flex;
  justify-content: center;
  margin: 50px 0; }

.quiensoy-redes {
  padding: 20px 0; }

.quiensoy-redes a {
  margin: 0 10px; }

/* Fin quien soy */
/* Experiencia y educación */
.exp-edu {
  padding: 100px 150px; }

.exp-edu-box {
  display: flex;
  margin: 30px 0; }

.exp-edu-col {
  display: flex;
  flex-flow: column;
  margin: 40px 40px 40px 0; }

.exp-edu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #F44945 solid 2px;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 200%;
  margin: 0 0 30px 0; }

.exp-edu-item {
  border-left: #F44945 solid 2px;
  padding: 0 0 80px 40px;
  position: relative; }
  .exp-edu-item::before {
    background: #ebebe4;
    border: 2px solid #F44945;
    border-radius: 50px;
    content: "";
    height: 16px;
    left: -9px;
    position: absolute;
    top: 0;
    width: 16px; }

.exp-edu-timeline {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px; }

.exp-edu-title {
  font-weight: 600;
  font-size: 2.2em;
  margin: 0; }

.exp-edu-company {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  margin: 0; }

.exp-edu-text {
  text-align: justify;
  margin: 30px 0; }

.exp-edu-cert {
  background-color: #F0ECDC; }

/* Fin experiencia y educación*/
/* Idiomas */
.idiomas {
  padding: 100px 150px;
  text-align: center; }

.idiomas-caja {
  display: flex; }

.idiomas-columna {
  text-align: left;
  width: 50%; }

.idiomas-item {
  margin: 20px 40px 20px 0; }
  .idiomas-item p {
    font-size: 1.1em; }

.idiomas-barra {
  background-color: #fff;
  border-radius: 0; }

.idiomas-barra__progreso {
  background-color: #F44945; }

/* Fin idiomas */
/* Porfolio */
.portfolio {
  padding: 100px 150px;
  text-align: center; }

.portfolio-carrusel-indicadores [data-bs-target] {
  background-color: #1E2335; }

.portfolio-carrusel-item {
  padding: 50px 100px; }

.portfolio-carrusel-img {
  border-radius: 15px;
  background: #1E2335;
  box-shadow: 15px 15px 40px #9f9f9f, -15px -15px 40px #ffffff; }

.portfolio-carrusel-caption {
  margin: 50px 0; }

.portfolio-carrusel-tit {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 20px 0; }

.portfolio-carrusel-link {
  color: #1E2335;
  font-size: 2em;
  transition: 1s; }
  .portfolio-carrusel-link i:hover {
    color: #F44945;
    transition: 1s; }

.portfolio-carrusel-btn {
  width: 10%; }
  .portfolio-carrusel-btn .carousel-control-prev-icon, .portfolio-carrusel-btn .carousel-control-next-icon {
    background-color: #F44945;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: 70%; }

.portfolio-carrusel-contacto {
  display: flex;
  justify-content: center;
  margin: 50px 0; }

/* Fin porftolio */
/* Habilidades */
.habilidades {
  padding: 100px 150px;
  text-align: center; }

.habilidades-caja {
  display: flex; }

.habilidades-columna {
  width: 50%;
  text-align: left; }

.habilidades-item {
  margin: 25px 40px 25px 0; }
  .habilidades-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 400; }
  .habilidades-item i {
    font-size: 1.3em;
    padding: 0 10px 0 0; }

.habilidades-barra {
  background-color: #fff;
  border-radius: 0; }

.habilidades-barra__progreso {
  background-color: #F44945; }

/* Fin habilidades */
/* Contacto */
.contacto {
  padding: 100px 150px;
  text-align: center; }

.contacto-col {
  display: flex;
  margin: 20px 0 0 0; }

.contacto-box {
  flex-wrap: wrap;
  width: 50%; }
  .contacto-box div {
    display: flex;
    text-align: center; }

.contacto-item i {
  margin: 20px 20px 20px 0; }

.contacto-item a, .contacto-item p {
  font-weight: 600;
  margin: 20px; }

.contacto-form {
  display: flex;
  justify-content: center;
  width: 50%; }

#form {
  display: flex;
  flex-flow: column;
  width: 100%; }

.contacto-form-input {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #1E2335;
  width: 30rem;
  border: none;
  border-bottom: solid 1px #F44945;
  background: transparent;
  margin: 15px 0; }

#form .boton1 {
  align-self: flex-end; }

/* Fin contacto */
/* Ajustes mobile */
@media (max-width: 1024px) {
  .header {
    padding: 100px 50px 0 50px; }
  .quiensoy, .exp-edu, .idiomas, .portfolio, .habilidades, .contacto {
    padding: 100px 50px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    align-self: center;
    justify-content: center; } }

@media (max-width: 768px) {
  .navbar {
    padding: 20px 80px; }
  .navbar-nav {
    margin: 0 0 30px 10px; }
  .navbar-collapse .boton1 {
    margin: 0 0 0 10px; }
  .header {
    height: 32rem;
    padding: 80px 80px 0 80px; }
  .header-box-btn {
    margin: 0;
    display: flex;
    flex-flow: column; }
    .header-box-btn a {
      margin: 15px 0; }
  .quiensoy {
    padding: 80px; }
    .quiensoy p {
      padding: 0; }
  .exp-edu-box {
    flex-flow: column; }
  .portfolio {
    padding: 80px; }
  .portfolio-carrusel-item {
    padding: 50px; }
  .habilidades {
    padding: 80px; }
  .idiomas {
    padding: 80px; }
  .contacto {
    padding: 80px; }
  .contacto-col {
    flex-flow: column; }
  .contacto-box, .contacto-form {
    width: 100%;
    margin: 15px 0; } }

@media (max-width: 575px) {
  .boton1, .boton2 {
    text-align: center;
    width: 100%; }
  .navbar {
    margin: 0;
    padding: 20px 30px; }
  .header {
    display: flex;
    flex-flow: column-reverse;
    padding: 170px 30px 0 30px;
    height: 100%; }
  .header-box, .header-img {
    width: 100%; }
  .header-box {
    margin: 50px 0; }
  .header-img {
    height: 15rem; }
    .header-img img {
      width: 75%; }
  .quiensoy, .exp-edu, .idiomas, .portfolio, .habilidades, .contacto {
    padding: 50px 30px; }
  .quiensoy p {
    padding: 0; }
  .habilidades-caja {
    display: flex;
    flex-flow: column; }
  .habilidades-columna {
    width: 100%; }
  .idiomas-caja {
    display: flex;
    flex-flow: column; }
  .idiomas-columna {
    width: 100%; }
  .habilidades-item {
    margin: 25px 0; }
  .contacto-box-btn {
    flex-flow: column;
    text-align: center; } }

@media (max-width: 425px) {
  .boton2 {
    margin: 10px 0; }
  nav {
    display: flex; }
  .navbar {
    padding: 20px; }
  .header-box {
    margin: 90px 0; }
  .header-img {
    height: 10rem;
    margin: 0 0 -30px 0; }
  .quiensoy, .quiensoy-caja, .habilidades, .idiomas, .educacion, .contacto, footer {
    padding: 30px; }
  .quiensoy p {
    font-size: 1em; }
  .exp-edu-col {
    margin: 40px 0; }
  .exp-edu-item {
    padding: 0 0 60px 30px; }
  .exp-edu-timeline {
    font-size: 0.8em; }
  .exp-edu-title {
    font-size: 1.8em; }
  .exp-edu-company {
    font-size: 1em; }
  .exp-edu-text {
    font-size: 1em; }
  .portfolio-carrusel-item {
    padding: 0px; }
  .portfolio-carrusel-indicadores {
    bottom: -30px;
    margin-bottom: 0; }
  .portfolio-carrusel-btn .carousel-control-prev-icon, .portfolio-carrusel-btn .carousel-control-next-icon {
    padding: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-size: 50%; }
  .contacto-item p, .contacto-item a {
    font-size: 1em;
    margin: 20px 0; } }

@media (max-width: 375px) {
  .header-img img {
    width: 90%; } }

/* Fin ajustes mobile */
